name: CI/CD

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Login to Docker registry
        run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Build Docker Image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/my-image:latest .
      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/my-image:latest
      - name: Set up Kubeconfig
        env:
          KUBECONFIG_FILE: ${{ secrets.KUBE }}
        run: |
          echo "$KUBECONFIG_FILE" > kubeconfig.yaml
          export KUBECONFIG=kubeconfig.yaml
      - name: Deploy to Kubernetes
        run: kubectl apply -f deployment.yaml
