name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build Docker Image
        run: docker build -t $USERNAME/my-image1:latest .
      - name: Login to Docker Registry
        env:
          USERNAME: ${{ secrets.USERNAME }}
          PASSWORD: ${{ secrets.PASSWORD }}
        run: docker login -u $USERNAME -p $PASSWORD
      - name: Push Docker Image
        run: docker push $USERNAME/my-image:latest
      - name: Deploy to Kubernetes
        env:
          KUBE: ${{ secrets.KUBE }}
        run: kubectl apply -f deployment.yaml --kubeconfig $KUBE
