name: CI/CD

on:
  push:
    branches:
      - main

env:
  PROJECT_NAME: testrepo

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Login to Docker registry
        run: echo ${{ secrets.PASSWORD }} | docker login -u ${{ secrets.USERNAME }} --password-stdin

      - name: Build Docker Image
        run: docker build -t ${{ secrets.USERNAME }}/${{ env.PROJECT_NAME }}:${{ github.sha }} .
      - name: Push Docker Image
        run: |
          docker push ${{ secrets.USERNAME }}/${{ env.PROJECT_NAME }}:${{ github.sha }}
      - name: Set up Kubeconfig
        env:
          KUBECONFIG_FILE: ${{ secrets.KUBE }}
        run: |
          echo "$KUBECONFIG_FILE" > kubeconfig.yaml
          echo "KUBECONFIG=$(pwd)/kubeconfig.yaml" >> $GITHUB_ENV
      - name: Deploy to Kubernetes
        run: kubectl apply -f deployment.yml
