name: CI/CD

on:
  push:
    branches:
      - main

env:
  PROJECT_NAME: testrepo

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Login to Docker registry
        run: echo ${{ secrets.PASSWORD }} | docker login -u ${{ secrets.USERNAME }} --password-stdin ${{ secrets.REGISTRY }}

      - name: Build Docker Image
        run: docker build -t ${{ secrets.REGISTRY }}/samplegropup/{{ env.PROJECT_NAME }} .
      - name: Push Docker Image
        run: |
          docker push ${{ secrets.REGISTRY }}/samplegropup/{{ env.PROJECT_NAME }}
      - name: Set up Kubeconfig
        env:
          KUBECONFIG_FILE: ${{ secrets.KUBE }}
        run: |
          echo "$KUBECONFIG_FILE" > kubeconfig.yaml
          echo "KUBECONFIG=$(pwd)/kubeconfig.yaml" >> $GITHUB_ENV
      - name: Replace image name and Deploy to Kubernetes
        run: |
          export IMAGE_NAME="${{ secrets.REGISTRY }}/samplegropup/newimage"
          sed "s|IMAGE_SAMPLE|$IMAGE_NAME|g" deployment.yml > deployment_ready.yml
          kubectl apply -f deployment_ready.yml
