name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build Docker Image
        run: docker build -t ${{ secrets.USERNAME }}/my-image1:latest .
      - name: Login to Docker Registry
        run: docker login -u ${{ secrets.USERNAME }} -p ${{ secrets.PASSWORD }}
      - name: Push Docker Image
        run: docker push ${{ secrets.USERNAME }}/my-image1:latest
      - name: Deploy to Kubernetes
        env:
          KUBE: ${{ secrets.KUBE }}
        run: kubectl apply -f deployment.yaml --kubeconfig $KUBE
